/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700;900&display=swap');
@import 'colors';

*:not(.selectable) {
    user-select: none;
    // outline: red auto;
}

body,
html {
    color: getColor('dark');
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header,
section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    justify-content: center;
    gap: 1rem;
}

section {
    height: auto;

    .title {
        font-size: calc(1rem + 2vw);
        margin: 0;
    }
}

svg {
    margin: 0;
}

header .title {
    width: calc(12rem + 10vw);
    height: 100px;
    position: relative;
    margin-top: 100px;
    text-align: center;
    transition: 250ms step-end;

    &:hover {
        transition: 250ms step-start;
        width: 100%;
    }

    &:hover #name {
        transform: translateY(50px);
        opacity: 0;
    }

    &:hover #fullname {
        transform: none;
        opacity: 1;
    }

    #name,
    #fullname {
        white-space: nowrap;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: lighter;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

// Elements 

.social-link {
    text-decoration: none;
    font-size: calc(1.2rem + 1vw) !important;
    padding: 5px 20px;
    cursor: pointer;

    i {
        transition: 250ms;
    }

    &:hover i {
        opacity: 1;
        text-shadow: none;
        transform: scale(1.5)
    }

    &:hover i.fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover i.fa-linkedin-in {
        color: #0A66C2;
    }

    &:hover i.fa-github {
        color: white;
    }

    &:hover i.fa-whatsapp {
        color: #25D366;
    }
}

.subtitle {
    font-weight: lighter;
    font-size: calc(.725rem + .5vw) !important
}

#fullname,
#name {
    font-size: calc(2.75rem + 2vw) !important;
    pointer-events: none;
    overflow: hidden;
    transition: 250ms ease;
    width: 100%;
    position: absolute;
    left: 0;
}

#fullname {
    opacity: 0;
    transform: translateY(-50px);
}

// Scrollbar

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #131313;
}

*::-webkit-scrollbar-thumb {
    border: 1.5px solid #131313;
}


.container {
    display: flex;
    height: 75vh;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    
    .row {
        margin: 0 .75rem;
        height: 100%;
        display: flex;
        flex-direction: row;

        .col {
            display: flex;
            align-items: center;
            width: 100%;
            flex: auto;
        }
    }
}

#skills ul {
    columns: 2;
    column-gap: calc(1rem + 5vw);
    li {
        list-style: none;

        .level {
            color: $detail;
            display: block;
            margin: -.75rem 0rem .5rem 0;
            span{
                margin-left: .15rem;
                font-size: 1.25rem;
                opacity: .25;
                
            }
        }

        @for $i from 0 through 5 {
            .level-#{$i}{
                span:nth-child(-n + #{$i}) {
                    opacity: 1 !important;
                }
            }
        }

    }
}